

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="main.css">
  </head>

  <body>
    <div class="search-bar2">
      <form action="/" method="POST">
        <input name="query" />
        <button>Search</button>
      </form>


    <% @results.each do |result| %>
    <div class="book-result">
      <h3><%= result.title%></h3>
      <h4><%= result.authors%></h4>
      <img src = '<%= result.image_link%>' />
      <a href= "<%= result.info_link%>">More info</a>
    </div>

  </body>
</html>





<% end %>
